@charset "UTF-8";

.contents_wrapper {
    margin: 100px 0 300px 0;
}

.mini_title{
    text-align: left;
    margin-left: 10%;
    font-weight: 500;
    color: #595959;
}
/*float 영역 차지하게 해주기*/
section {
    overflow: hidden;
}

.privacyBox {
    padding-left: 120px;
    margin-top: 80px;
}

.oneBox{
    height: 50px;
    margin-bottom: 40px;
}
#id{
	background-color: #e0e0e0;
    border-radius: 3px;
}
.obj {
    width: 150px;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
}
.oneBox > input{
	width: 300px;
    height: 50px;
    font-size: 1.3em;
    border: none;
    border-bottom: 2px solid rgb(138, 138, 138);
    outline: none;
    padding-left: 10px;
}
.logInfo {
    height: 2px;
    font-size: 0.7em;
    margin: 10px 0 0 160px;
    color: rgb(226, 42, 42);
    font-weight: bold;
    display: block;
}
#email {
    width: 200px;
}
.emailArea a {
    font-size: 1.5em;
    color: rgb(104, 104, 104);
    margin: 0 9px;
}
.emailArea #email_add{
    width: 140px;
    font-size: 1.1em;
    padding-left: 5px;
}
.emailArea #email_after {
    width: 130px;
    height: 50px;
    font-size: 1.1em;
    margin-left: 10px;
}
.emailArea #email_after option {
    font-size: 1em;
}
.news {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(107, 107, 107);
    position: relative;
    width: 562px;
    margin: 100px auto 0 auto;
}
.news span {
    margin-right: 40px;
}
.news label{
    font-size: 0.9em;
    cursor: pointer;
}
.news .telNews{
    margin-right: 20px;
}
.news input {
    position: absolute;
    left: -999em;
}
.circle{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid rgb(131, 131, 131);
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    top: 5px;
    right: 10px;
    cursor: pointer;
    background-image: url(../images/check_gray.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.news input:checked + .circle{
    background-color: rgb(31, 114, 31);
    border-color: rgb(31, 114, 31);
    background-image: url(../images/check_white.png);
}
.modBtnArea {
    text-align: center;
}
.modBtn {
    width: 500px;
    height: 70px;
    margin-top: 40px;
    line-height: 70px;
    background-image: linear-gradient(to right top, rgb(112, 112, 112),rgb(207, 207, 207));
    border: none;
    border-radius: 5px;
    color: rgb(252, 252, 252);
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 3px;
}
.modBtn >p {
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    padding-left: 3px;
}