@charset "utf-8";

/*게시글 보기*/
#article_box{
	width: 90%;
    margin: auto;
}
#article_title{
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 2px solid #e9e9e9;
	padding-bottom: 30px;
	margin-bottom: 15px;
}
#article_genre{
	color: rgb(19, 145, 25);
}
#article_header_info{
	text-align: right;
	font-size: 0.9em;
}
#article_content_box{
	width: 95%;
    margin: auto;
	margin-top: 120px;
	margin-bottom : 200px;
}
#article_footer_box{
	text-align: center;
}

#like_btn{
	width: 120px;
    height: 65px;
    font-size: 0.9em;
    border-radius: 5%;
    background-color: #fff;
}
.unlike{
    border: 3px solid #ccc;
}
.unlike:hover{
	border: 3px solid #ffb7b7;
}
.like{
	border: 3px solid #ffb7b7;
}
#heart{
	display: inline-block;
    width: 23px;
    text-indent: 23px;
    overflow: hidden;
    white-space: nowrap;
}
.unlike #heart::before{
	position: relative;
    left: -20px;
    top: 3px;
    content: "\2661";
	color: rgb(245, 27, 27);
}
.unlike:hover #heart::before{
	content: "\2665";
}
.like #heart::before{
	position: relative;
    left: -20px;
    top: 3px;
    content: "\2665";
	color: rgb(245, 27, 27);
}

#articleInfo{
	text-align: right;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
}
#articleInfo a {
	font-size: 0.9em;
}

#article_comment_box{
	padding: 0 2.5%;
    margin: auto;
    border-top: 2px solid #e2e2e2;
}
#article_comment_info{
    padding-top: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

#comment_view_sec{
	padding-bottom: 50px;
    width: 90%;
    margin: 0 auto;
}
.one_comment_box{
	border-bottom: 1px solid #e2e2e2;
    padding-bottom: 30px;
    padding-top: 30px;
}
.one_comment_box:first-child{
	padding-top:0;
}
.one_comment_box:last-child{
	border: none;
	padding-bottom: 0;
}
.comment_nickname {
    font-weight: bold;
    font-size: 1.05em;
}
.comment_date {
    font-size: 0.8em;
    margin-left: 20px;
    color: #808080;
}
.comment_box {
    margin-bottom: 25px;
}
.comment_content {
    padding-left: 20px;
    margin-bottom: 5px;
}
.comment_header {
    height: 30px;
    margin-bottom: 10px;
}
.comment_footer {
    margin-left: 20px;
    margin-top: 30px;
    font-size: 0.8em;
}
.child_comment {
    margin-left: 30px;
}
.child_comment_L {
    margin-right: 10px;
}
.child_comment_content {
    padding-left: 30px;
}
.reply_parent_nickname {
    font-weight: bold;
    color: #68ad56;
    margin-right: 10px;
    font-size: 0.9em;
}
.child_comment_footer {
    margin-left: 30px;
}

#write_comment{
	margin-bottom: 250px;
	text-align: center;
}
#comment_textarea {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}
#button_box{
	margin: 20px;
    text-align: right;
}
.commBtn{
	width: 75px;
    height: 40px;
}
.subBtn{
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: 3px;
	color: rgb(252, 252, 252);
	background-color:#4f4f4f;
    transition: background-color ease 0.5s 0s;
    margin-right: 30px;
}
.subBtn:hover{
    background-color:rgb(9, 148, 39);
}

.btn{
	border: none;
    background-color: #fff;
    color: #4f4f4f;
}