@charset "utf-8";

/*게시판 작성*/
#content_section{
	width: 90%;
    margin: auto;
}

.articleNameBox{
	margin-left: 10px;
}

#board_genre{
	font-size: 1.2em;
	padding: 5px 3px;
	border: none;
    border-bottom: 2px solid #a5a5a5;
    outline: none;
}

#board_title{
	margin_left : 10px;
	width: 79%;
	padding: 6px 10px;
	font-size: 1.2em;
	border: none;
    border-bottom: 2px solid #a5a5a5;
    outline: none;
}

#content_box {
    margin: auto;
    margin-top: 50px;
}

#button_box {
    position: absolute;
    right: 2%;
}

.commBtn{
	width: 100px;
	height: 50px;
    margin-top: 55px;
}

.canBtn{
	margin-right : 20px;
	border: none;
    border-radius: 5px;
}

.subBtn{
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 3px;
	color: rgb(252, 252, 252);
	background-color:#4f4f4f;
    transition: background-color ease 0.5s 0s;
}

.subBtn:hover{
    background-color:rgb(9, 148, 39);
}